<%- include('common/header.ejs', {title, page: 'About Us' }); %>
    <%- include('common/navigation.ejs', {page: 'About Us' }); %>
    <ol><h1 dir="ltr"><p>Vision</p></h1>

        <p>To provide technological tools to make medicine reach the needy on time.</p>
        
        <br>
        <h2>Mission</h2>
        
        <ol ><li><p>To prevent the idle lying medicine at every household from expiry and ending in landfills.</p>
        
        </li>
        <li><p>To help frontline workers not fallback due to lack of medicine</p>
        
        </li>
        <li><p>To get access of best in the class medicine on time to every underprivileged human due to geography, financial or environmental circumstances.</p>
        
        </li>
        </ol><br>
        <h2>Who we are?</h2>
        
        <p>A team of self volunteers, who with their combining capabilities want to help in getting access to medicine to every living being.</p>
        
        <br>
        <h2>What do we do?</h2>
        
        <ul>
        <li><p>We collect medicines in terms of donations from households and individuals. </p>
        
        </li>
        <li><p>Segregate them with due diligence of type, expiry and quantity. </p>
        
        </li>
        <li><p>Identify the organisation or individuals and after a thorough check of utilisation policy, we donate the medicine to reach the actual person needing it.</p>
        
        </li>
        </ul>
        
        </h1>
        
        </li>
        </ol>

<%- include('common/footer.ejs'); %>
