<%- include('common/header.ejs', {title, page: 'Checkout' }); %>
<%- include('common/navigation.ejs', {page: 'checkout' }); %>
    <div class="container">
        <h1>Checkout</h1>
        <div id="error" class="alert alert-danger" style="display: none;" role="alert">You didn't add anything to donate yet. Click this <a href="donate">link</a> to make a donation.</div>
        <div id="success" class="alert alert-success" style="display: none;" role="alert">We have received your donation details. Thank you for the donation.</div>
        <div id="donationDetails" style="display: none;">
            <p>Please review your donation details before you checkout:</p>
            <p><strong>Name:</strong> <span id="name"></span></p>
            <p><strong>Donations:</strong></p>
            <ul id="donations"></ul>
            <p><strong>Images:</strong></p>
            <div id="images"></div>
            <p><strong>Email:</strong> <span id="email"></span></p>
            <p><strong>Phone Number:</strong> <span id="phone"></span></p>
            <p><strong>Address Line 1:</strong> <span id="line1"></span></p>
            <p><strong>Address Line 2:</strong> <span id="line2"></span></p>
            <p><strong>Address Line 3:</strong> <span id="line3"></span></p>
            <p><strong>City:</strong> <span id="city"></span></p>
            <p><strong>State:</strong> <span id="state"></span></p>
            <p><strong>PIN Code:</strong> <span id="pinCode"></span></p>
            <br>
            <button onclick="confirmDonation()" class="btn btn-primary">Confirm Donation</button>
        </div>
    </div>
<%- include('common/footer.ejs'); %>
<script src="javascripts/checkout.js"></script>