<%- include('common/header.ejs', {title, page: 'Donar Policy' }); %>
    <%- include('common/navigation.ejs', {page: 'Donar Policy' }); %>
<ol><h2>Disclaimer</h2>

    <p style="font-size:20px;">DonateMedicine is not a registered organisation, so 
        any donation can’t be considered to be beneficial in any tax benefit to the donors. We are a network of self-volunteers working towards helping medicines reach the needy by collecting from households for free. For more information, feel free to contact or read our Donor Policy, Privacy policy, about us and FAQs.</p>
    
    
    </ol>
<%- include('common/footer.ejs'); %>