<%- include('common/header.ejs', {title, page: 'Donate a Medicine' }); %>
<%- include('common/navigation.ejs', {page: 'donate' }); %>

<div class="container">
    <h1>Donate a Medicine</h1>
    <p>Please List all medicines you can donate. Click 'Add medicine' to add a different kind of medicine.</p>
    <br>
    <div class="form-inline" id="0">
        <div class="form-group">
            <label>Name of the Medicine</label>
            <input id="nmed_0" type="text" name="medicine_name" placeholder="Name of the Medicine">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select id="selmed_0">
                <option value='Tablets' selected>Tablets</option>
                <option value='Capsule'>Capsule</option>
                <option value='Syrup'>Syrup</option>
                <option value='Powder'>Powder</option>
                <option value='Injection'>Injection</option>
                <option value='Ointment'>Ointment</option>
                <option value='Accessories'>Accessories</option>
            </select>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input id="qmed_0" type="number" min="1" value="1" placeholder="Quantity of the Medicine">
        </div>
    </div>
    <br>
    <button id = "addMedicine"  class="btn btn-primary">Add Medicine</button>
    <br>
    <p>Please add minimum one photo for verification. You may take a single picture of multiple medicines but make sure the names of the medicines are clear and readable in the picture. Click (+) button to add more pictures.</p>
    <br>
    <div class="row">
        <div class="col-sm-2 imgUp" id="img_0">
            <div class="imagePreview"></div>
            <label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
        </div>
        <i class="fa fa-plus imgAdd"></i>
    </div>
    <br>
    <button id="donate" class="btn btn-primary">Donate</button>
</div>

<%- include('common/footer.ejs'); %>
<script src="javascripts/processDonations.js"></script>