<%- include('common/header.ejs', {title, page: 'Donar Policy' }); %>
    <%- include('common/navigation.ejs', {page: 'Donar Policy' }); %>
    <ol><h1 dir="ltr" >DONOR POLICY</h1>

        <p>Our Donor Policy outlines our responsibility to you as a donor. We pledge our ongoing commitment to below ideals as we work with you and your family members. This policy also guides us through very sensitive issues such as donor privacy and record retention.</p>
        
        
        <h3 dir="ltr" >DONOR BILL OF RIGHTS</h3>
        
        <p>We support the Donor Bill of Rights. Philanthropy is based on voluntary action for the common good. It is a tradition of giving and sharing that is primary to the quality of life. To ensure that philanthropy merits the respect and trust of the general public, and that donors and prospective donors can have full confidence in the self-volunteer network and causes they are asked to support, we declare that all donors have these rights:</p>
        
        <ul>
        <li><p>To be informed of the network’s mission, of the way the network intends to use donated resources, and of its capacity to use donations effectively for their intended purposes.</p>
        
        </li>
        <li><p>To be informed of the identity of those serving on the network’s coordination committee, and to expect the committee to exercise prudent judgment in its stewardship responsibilities.</p>
        
        </li>
        <li><p>To have access to the network’s most recent financial statements.</p>
        
        </li>
        <li><p>To be assured their donations will be used for the purposes for which they were given.</p>
        
        </li>
        <li><p>To receive appropriate acknowledgement and recognition.</p>
        
        </li>
        <li><p>To be assured that information about their donation is handled with respect and with confidentiality to the extent provided by India penal law.</p>
        
        </li>
        <li><p>To expect that all relationships with individuals representing networks of interest to the donor will be professional in nature.</p>
        
        </li>
        <li><p>To be informed whether those seeking donations are volunteers, employees of the network or hired solicitors.</p>
        
        </li>
        </ul>
        
        <h3 dir="ltr" >WHAT INFORMATION WE COLLECT</h3>
        
        <p>We use personal information collected from donors for the purposes of processing payments and communicating with donors about DonateMedicine as well as conducting the fundraising and other operations of DonateMedicine. This information may include name, amount donated, address, telephone number, donor comments, e-mail address,phone number, aadhar no and any other personal information provided to us (“Donor Data”).</p>
        
        <p>As part of providing an online experience expected by our donors, we may store various data that are collected as part of standard web operations. We may use this data for purposes described in this policy, including analytical needs and improved functionality of our website.</p>
        
        
        <h3 dir="ltr" >PAYMENT PROCESSORS AND OTHER SERVICE PROVIDERS</h3>
        
        <p>Payment processors allow donors to give electronically using a payment services account, a credit card, or other payment method. These processors collect certain information from donors, and you should consult their privacy policies to determine their practices.</p>
        
        <p>To provide donors the best possible experience, we work with service providers and may share Donor Data and other information with, or have it transmitted through, them. Such service providers include, for example, collection facilities and bandwidth providers as well as networks that help non-profit networks with fundraising.</p>
        
        
        <h3 dir="ltr" >HOW WE USE DONOR DATA</h3>
        
        <p>Donor Data may be used for these kinds of purposes:</p>
        
        <ul>
        <li><p>Distributing receipts and thanking donors for donations</p>
        
        </li>
        <li><p>Informing donors about upcoming fundraising and other activities of DonateMedicine</p>
        
        </li>
        <li><p>Internal analysis, such as research and analytics</p>
        
        </li>
        <li><p>Record keeping</p>
        
        </li>
        <li><p>Reporting to applicable government agencies as required by law</p>
        
        </li>
        <li><p>Surveys, metrics, and other analytical purposes</p>
        
        </li>
        <li><p>Other purposes related to the fundraising operations</p>
        
        </li>
        <li><p>Donation statistics may be used for promotional and fundraising activities</p>
        
        </li>
        <li><p>We do not sell, trade, or rent Donor Data</p>
        
        </li>
        <li><p>We use data gathered for payment processors and other service providers only for the purposes described in this policy</p>
        
        </li>
        </ul>
        
        
        <h3 dir="ltr" >FINANCIAL INFORMATION</h3>
        
        <p>It is our internal policy to limit access to financial information to professional staff and volunteers who need to process that information for the purposes described above. Personal financial information is not sold to or traded with other parties.</p>
        
        <p>We use partners to provide online payment processing services. Usually, the privacy policies of these networks will be presented to you on their respective websites and typically also as part of your donation process. If you pay by credit card, we do not store your credit card information, bank account numbers, or other financial account data sent directly to those processing services.</p>
        
        
        
        <h3 dir="ltr" >SECURITY</h3>
        
        <p>We are committed to protecting donor personal information from unauthorized access, alteration, disclosure, or destruction. Among other things, we undertake a range of security practices, including measures to help secure web access to sensitive data and undertake efforts to address security vulnerabilities for various tools and databases.</p>
        
        
        
        <h3 dir="ltr" >OTHER DISCLOSURES</h3>
        
        <p>We may disclose information when required by law and/or when needed to protect our rights, privacy, safety, property, donors, or users, and when necessary to enforce our terms of service.</p>
        
        
        
        <h3 dir="ltr" >UPDATES</h3>
        
        <p>We may change the Donor Privacy Policy from time to time without notice. You should periodically check our website at Donatemedicine.net for any changes to the policy.</p>
        
        
        <h3 dir="ltr" >DATA RETENTION</h3>
        
        <p>We seek to retain donor-related information only as needed to fulfill the purposes described in this policy unless a longer retention period is required by law or regulations.</p>
        
        
        
        <h3 dir="ltr" >RIGHTS</h3>
        
        <p>You have certain rights with respect to the information we collect about you. Upon request, we will tell you what information we hold about you and correct any incorrect information. We will also make reasonable efforts to delete your information if you ask us to do so, unless we are otherwise required to keep it.</p>
        
        <br>
        
        
         </ol>
<%- include('common/policy.ejs'); %>