<%- include('common/header.ejs', {title, page: 'FAQ' }); %>
    <%- include('common/navigation.ejs', {page: 'FAQ' }); %>
<ol style="font-size:1.5em"><li><h3 dir="ltr"><strong>How do you decide whether the medicine is not fake?<br></strong></h3>
    Currently, we do not have any mechanism in place to check real or fake medicine, but your suggestions are most welcome on it.
    
    </li>
    <li><h3 dir="ltr"><strong>How are the employees compensated?<br></strong></h3>
    <p>We don’t have any employees, we are a network of self-volunteers who pay for collection and distribution from their own pockets.</p>
    
    </li>
    <li><h3 dir="ltr"><strong>Are you a registered organisation?<br></strong></h3>
    No, we are not a registered organisation but a network of people working under strict monitoring and guidelines.
    
    </li>
    <li><h3 dir="ltr"><strong>How do you distribute the medicines?<br></strong></h3>
    We only distribute it to charitable hospitals and Not for profit organisations who have a proper monitoring and transparency in terms of usage of medicines.
    
    </li>
    <li><h3 dir="ltr"><strong>Do you sell medicines?<br></strong></h3>
    We do not sell or stock the medicines. All the medicines collected every week are donated to our respective benefactors whose reports are published weekly on our site.
    
    </li>
    <li><h3 dir="ltr"><strong>Do you accept donations?<br></strong></h3>
    Currently, we are not a registered organisation therefore we are not accepting any donations.
    
    </li>
    <li><h3 dir="ltr"><strong>Can I donate voluntarily to the person coming to pick up or drop off medicine?<br></strong></h3>
    We completely restrict this practice in our mission to help people. Still you want to help please contact us directly.
    
    </li>
    <li><h3 dir="ltr"><strong>How can I be part of this network to serve the people?<br></strong></h3>
    Contact the number mentioned in contact us and we will guide you to be a part of the network.
    
    </li>
    <li><h3 dir="ltr"><strong>How to know the volunteer coming to pick up is a genuine person?<br></strong></h3>
    Call the city helpline number from our contact us page to get more details in case of any suspicion.
    
    </li>
    <li><h3 dir="ltr"><strong>I have a question which is not listed here?<br></strong></h3>
    Feel free to mail us at <a href="mailto:donatemedicine.net@gmail.com" >donatemedicine.net@gmail.com</a>
    
    </li>
    </ol>

<%- include('common/footer.ejs'); %>