<%- include('common/header.ejs', {title, page: 'Donar Policy' }); %>
<%- include('common/navigation.ejs', {page: 'Donar Policy' }); %>
<ol><h2>Our Commitment To Privacy:</h2>

    <p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested. The Information We Collect: This notice applies to all information collected or submitted on the DonateMedicine.net website. On some pages, you can make donations, make requests, and register to receive materials or information. The types of personal information collected at these pages are:
    <ul>
    <li><p>1. Name</p>
    
    </li>
    <li><p>2. Address</p>
    
    </li>
    <li><p>3. Email address</p>
    
    </li>
    <li><p>4. Phone number</p>
    
    </li>
    <li><p>5. Aadhar Card or Identification Proof</p>
    
    </li>
    </ul>
    
    <p>On some pages, you can submit information about other people. For example, if you make a donation online and want a notice of your donation sent directly to the honoree, you will need to submit the recipient’s e-mail address or mailing address. In this circumstance, the types of personal information collected are:</p>
    
    <ul>
    <li><p>1. Name</p>
    
    </li>
    <li><p>2. Address</p>
    
    </li>
    <li><p>3. E-mail address</p>
    
    </li>
    </ul>
    
    
    </p>
    
    <h2 dir="ltr" >The Way We Use Information</h2>
    
    <p>We use the information you provide about yourself when making a donation only to complete that transaction. We do not share this information with outside parties except to the extent necessary to complete that transaction. We use the information you provide about someone else when making a donation in their honor only to send an acknowledgment of the donation. We do not share this information with outside parties except to the extent necessary to complete that transaction. We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties. You can register with our website if you would like to receive newsletters as well as updates on our programs. Information you submit on our website will not be used for this purpose unless you fill out the registration form. Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses. </p>
    
    
    <h2 dir="ltr" >Our Commitment To Data Security </h2>
    
    <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. </p>
    
    
    <h2 dir="ltr" >Our Commitment To Children’s Privacy </h2>
    
    <p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13. </p>
    
    
    <h2 dir="ltr" >How To Contact Us</h2>
    
    <p>Should you have other questions or concerns about these privacy policies, please call us at +91-998-2882-666 or send us an email at <a href="mailto:donatemedicine.net@gmail.com" >donatemedicine.net@gmail.com</a> </p>
    
    
    <h2 dir="ltr" >What personal data do we collect and why do we collect it?</h2>
    
    <h3 dir="ltr" >Comments</h3>
    
    <p>When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>
    
    
    <h3 dir="ltr" >Media</h3>
    
    <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>
    
    
    <h3 dir="ltr" >Contact forms</h3>
    
    <p>Mobile, name, addresses and Email ID are collected to contact you at the time of donation collection or delivery. The sole purpose is to connect you and serve you better.</p>
    
    
    <h3 dir="ltr" >Cookies</h3>
    
    <p>If you leave a comment on our site you may opt-in to save your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year. If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser. When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed. If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
    
    
    <h3 dir="ltr" >Embedded content from other websites</h3>
    
    <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website. These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>
    
    
    
    <h2 dir="ltr" >Who do we share your data with?</h2>
    
    <p>We do not share any data outside with any 3rd person except the delivery or collection agency that too they can access only from a login provided by us for the same purpose.</p>
    
    
    
    <h2 dir="ltr" >How long do we retain your data?</h2>
    
    <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue. For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>
    
    
    
    <h2 dir="ltr" >What rights you have over your data?</h2>
    
    <p>If you have an account on this site or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
    
    <p><br>
    </p>
    
    
    
    </li>
    </ol>
<%- include('common/policy.ejs'); %>