<%- include('common/header.ejs', {title, page: 'Home' }); %>
<%- include('common/navigation.ejs', {page: 'signup' }); %>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="highlight">Profile</h1>
            <!-- <span class="badge bg-primary">Primary</span> -->

            <!-- SIGNUP FORM -->
            <!-- Again signup route is wrong. Handle with JS. Removing action and method. -->
            <form class="form-horizontal"  >
                <!-- <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="tel" class="form-control" name="mobile_number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                </div> -->
                <!-- <div>
                    

                    <div class="form-group">
                        <label class="control-label col-sm-3">Street</label>
                        <input type="text" name="address-line-1 class="control-label col-sm-2" id="address-line-1">
                    </div>

                    <div class ="form-group">
                        <label for="address-line-2" class="control-label col-sm-3">Landmark</label>
                        <input type="text" name="address-line-2" id="address-line-2">
                    </div>

                    <div class="form-group">
                        <label for="zip" class="control-label col-sm-3">Zip</label>
                        <input type="text" pattern="[0-9]*" name="zip" id="zip">
                        <p class="zip-error">Not a real zip code.</p>
                    </div>

                    <div class="form-group">
                        <label for="city" class="control-label col-sm-3">City</label>
                        <input type="text" name="city" id="city">
                    </div>

                    <div class="form-group">
                        <label for="state" class="control-label col-sm-3">State</label>
                        <input type="text" name="state" id="state">
                    </div> -->


                    <div class="form-group">
                        <label class="control-label col-sm-3">Full Name</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Email</label>
                        <input type="text" name="email">
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Aadhar Number</label>
                        <input type="number" name="aadhar_number">
                    </div>
                </div>
            </form>
            <form class = "form-group">
                <!-- <button type="submit" class="btn btn-warning btn-lg">Signup</button> -->               
            </form>
            <hr>
            <!-- <p>Already have an account? <a href="/login">Login</a></p> -->
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
<%- include('common/footer.ejs'); %>