<%- include('common/header.ejs', {title, page: 'User Profile' }); %>
<%- include('common/navigation.ejs', {page: 'profile' }); %>
    <div class="container">
        <h1 class="highlight">Profile</h1>
        <p><small>Fields marked with star (*) are required.</small></p>
        <div id="incompleteProfileError" style="display: none" class="alert alert-danger" role="alert">Please complete your profile, or else you won't be able to make a donation.</div>
        <div id="noGeolocationError" style="display: none" class="alert alert-danger" role="alert">Geolocation is not available/disabled on your system. Please enable Geolocation, if possible to allow us to co-ordinate well with you. Reload the page after you change settings.</div>
        <div id="exactGeolocationError" style="display: none" class="alert alert-danger" role="alert"></div>
        <form class="form-horizontal" onsubmit="event.preventDefault();updateUserDetails()">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Mobile Number *</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="mobile_number" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Full Name *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="name" type="text" placeholder = "John Doe">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="email">Email *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="email" type="email" placeholder = "johndoe@example.com">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="line1">Address Line 1 *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="line1" type="text" placeholder = "123, Example Steet">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="line2">Address Line 2 *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="line2" type="text" placeholder = "Some Block Address">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="line3">Address Line 3</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="line3" type="text" placeholder = "Optional Extra Line">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="city">City *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="city" type="text" placeholder = "Example City">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="state">State *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="state" type="text" placeholder = "State">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="pinCode">PIN Code *</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="pinCode" type="text" placeholder = "100001">
                     </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id = "submit_btn" class="btn btn-default btn-lg">Submit</button>
                    <button type="edit" id = "edit_btn" class="btn btn-default btn-lg" style ="display: none;">Edit Profile</button>
                </div>
            </div>
        </form>
    </div>
<%- include('common/footer.ejs'); %>
<!-- <%- include('common/policy.ejs'); %> -->
<script src="javascripts/signUp.js"></script>   