body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 120px;
  }

  .no-gutter {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}
