<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
       
        <div class="navbar-header">
            <a class="navbar-brand" href="./">
                <img style="max-width:62px; height: auto;"
                     src="logo/DM.png"></a>
           
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <form class="navbar-form navbar-left no-gutter">
            <!-- <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Medicines">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
            </div> -->
        </form>
        

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar">
                <li>  <a href="aboutUs">About Us</a></li>
                <li <% if (page==='home' ) { %>class="active" <% } %>><a href="./">Home <span
                                class="sr-only">(current)</span></a></li>
                <li <% if (page==='login' || page==='profile' ) { %>class="active" <% } %>><a id="lgnBtn" href="login">Login</a></li>
                <li <% if (page==='donate' ) { %>class="active" <% } %>><a href="donate">Donate</a></li>
                
                <!-- <li <% if (page==='request' ) { %>class="active" <% } %>><a href="request">Request</a></li> -->

                <!-- Only to be shown when the user is logged in -->
                <li onclick="logout()" id="loggedInMenu"><a>Logout</a></li>
                <li><a href="FAQ">FAQ</a></li>
                <!-- <li class="dropdown" id="loggedInMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">My Donations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">My Profile</a></li>
                        <li onclick="logout()"><a>Logout</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<script>
    // We save the user id i local storage for easy access.
    var isLoggedIn = localStorage.getItem('userId');
    if (!isLoggedIn) {
        document.getElementById("loggedInMenu").outerHTML = "";
    } else {
        document.getElementById("lgnBtn").innerHTML = "Profile";
        document.getElementById("lgnBtn").href = "/userProfile";
    }
</script>