<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
}
/* li {
  float: left;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  /* color:  */
/* } */ 
/* li{
    float: left;
} */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */
/* .footer-widgets .widget_nav_menu li {
    display: inline-block;
} */
#horiz{
    float: left;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  /* color:  */
}

#footer {
			position: fixed;
			 /* padding: 0px 0px 5px 5px;   */
             padding-bottom: 10px;
			 bottom: 5px; 
			width: 100%;
			/* Height of the footer*/
			height: 40px;
			background: grey;
		}
</style>
</head>
<body>

<!-- <h2>Navigation Menu</h2>
<p>In this example, we use CSS to style the list horizontally, to create a navigation menu:</p> -->

<br>
<br>
<br>
<div id = "footer">
    <ul>
    <li id = "horiz" ><a href="aboutUs" style="color: #FF0000">About Us</a></li>
    <li id = "horiz"><a href="privacyPolicy" style="color: #FF0000">Privacy Policy</a></li>
    <li id = "horiz"><a href="disclaimer" style="color: #FF0000">Disclaimer</a></li>
    <li id = "horiz"><a href="FAQ" style="color: #FF0000">FAQ</a></li>
    <li id = "horiz"><a href="donorPolicy" style="color: #FF0000">Donor Policy</a></li>
    <li id = "horiz"><a href="tel:+919982882666" style="color: #FF0000">Contact Us : +91998288266</a></li>
    <li id = "horiz"><a href = "mailto:donatemedicine@gmail.com" style="color: #FF0000">Email : donatemedicine@gmail.com</a></li>
    <!-- email : donatemedicine.net@gmail.com -->
    </ul>
</div>
</body>
</html>
