<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
}
.fa:not(.fa-user) {
  float: left;
  padding: 10px;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  /* margin: 5px 2px; */
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
/* .fa-user {
  background: black;
  color: white;
} */


#horiz{
    float: left;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  /* color:  */
}

#footer {
			position: fixed;
			 /* padding: 0px 0px 5px 5px;   */
             padding-bottom: 10px;
			 bottom: 5px; 
			width: 100%;
			/* Height of the footer*/
			height: 50px;
			background: rgb(238, 234, 234);
		}
</style>
</head>
<body>

<!-- <h2>Navigation Menu</h2>
<p>In this example, we use CSS to style the list horizontally, to create a navigation menu:</p> -->

<br>
<br>
<br>
<br>
<div id = "footer">
    <ul>
    <li id = "horiz" ><a href="aboutUs" style="color: #FF0000">About Us</a></li>
    <li id = "horiz"><a href="privacyPolicy" style="color: #FF0000">Privacy Policy</a></li>
    <li id = "horiz"><a href="disclaimer" style="color: #FF0000">Disclaimer</a></li>
    <li id = "horiz"><a href="FAQ" style="color: #FF0000">FAQ</a></li>
    <li id = "horiz"><a href="donorPolicy" style="color: #FF0000">Donor Policy</a></li>
    <li id = "horiz"><a href="tel:+919982882666" style="color: rgba(59, 141, 167, 0.822)">Contact Us : +91998288266</a></li>
    <li id = "horiz"><a href = "mailto:donatemedicine@gmail.com" style="color: rgba(59, 141, 167, 0.822)">Email : donatemedicine@gmail.com</a></li>
    <a href="https://www.facebook.com/Donate-Medicine-107228834894880" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
    <a href="https://www.linkedin.com/company/donate-medicine/" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-instagram"></a>
    <!-- email : donatemedicine.net@gmail.com -->
    </ul>
</div>
</body>
</html>
